:root {
  --text-color: #e2f3f5;
  --text-rgb-color: 226,243,245;
  --background-page-color: #0e153a;
  --primary-color: #0e153a;
  --primary-rgb-color: 14,21,58;
  --secondary-color: #3d5af1;
  --secondary-rgb-color: 61,90,241;
  --cyan-color: #22d1ee;
  --cyan-rgb-color: 34,209,238;
  --green-color: #04b36a;
  --green-rgb-color: 4,179,106;
  --red-color: #e60347;
  --red-rgb-color: 230,3,71,1;
}
