@import './__mixin__.scss';
@import './__colors__.scss';
@import './default.scss';

.header {
  text-align: center;
  color: var(--text-color);
}

.players {
  @include flex;
  list-style: none;
  padding: 0;

  .player {
    @include flex;
    margin: 0.5em;
    padding: 0.5em 0.8em;
    border-radius: 8px;
    background: var(--secondary-color);
    color: var(--text-color);
    min-width: 100px;

    &-icon {
      margin: 0 0.5em;
      line-height: 1;
    }

    &-name {
      opacity: 0.8;
    }
  }
}

.board {
  @include flex($direction: column);
  border-radius: 8px;
  overflow: hidden;
  $self: &;

  &-row {
    @include flex;

    &:last-child {
      #{$self}-cell {
        border-bottom: none;
      }
    }
  }

  &-cell {
    $size: 100px;
    @include flex-inline;
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-size: 2rem;
    width: $size;
    height: $size;
    line-height: 1;
    user-select: none;

    &:hover {
      opacity: 0.9;
      cursor: pointer;
    }

    border-bottom: 1px solid rgba(var(--text-rgb-color), 0.1);
    &:not(:last-child) {
      border-right: 1px solid rgba(var(--text-rgb-color), 0.1);
    }
  }
}

.btn-start {
  margin: 30px 0;
  background-color: var(--green-color);
  border-radius: 8px;
  border: none;
  padding: 0.5em 0.8em;
  min-width: 100px;
  color: var(--text-color);
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}
